.grid-container{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    grid-auto-rows: 300px;
    align-items: stretch;
}


.title{
    grid-area: title;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.box-1{
    grid-area: intro;
    grid-column: 1 / 5;
    grid-row: 2 / 4 ;
}

.box-2{
    grid-area: grill;
    grid-column: 1 / 4;
    grid-template-rows: 4 / 6;
}

.box-22{
    grid-area: pellets;
    grid-template-columns: 4 / 5;
    grid-template-rows: 1 /6;
}

.box-25{
    grid-area: age;
}

.box-3{
    grid-area: meats ;
}

.box-4{
    grid-area: rub-1;
}

.box-5{
    grid-area: rub-2;
}

.box-6{
    grid-area: rub-3;
}

.box-7{
    grid-area: prep;
}

.box-8{
    grid-area: cook;
}

.box-9{
    grid-area: wrap;
}

.box-10{
    grid-area: pull;
}

.box-11{
    grid-area: serve;
}

.box-12{
    grid-area: resources;
}

.box-13{
    grid-area: site map;
}