/*
:root {
    --background: rgba(0,214,170,.50);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;    
    color: #3747b3
    line-height:1.6em;
}

header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 998;
    width: 100%;
}


.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label::before {
    bottom: 7px;
}

.nav-toggle-label::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #000
}

.nav-toggle:checked ~ nav{
    display: block;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }


    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    }

    .logo {
    grid-column: 2 / 3;
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav li {
        margin-left: flex;
    }

    nav a {
        opacity: 1;
    }        

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        transition: transform ease-in-out 250ms;
        right: 0;
        left: 0;
        transform: scale(0, 1);
        }

    nav a::hover::before {
        transform: scale(1,1);
    }
}
*/

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    title title title
    into intro
    grill grill
    meats meats meats
    rub-1 rub-1 rub-1
    rub-2 rub-2 rub-2

    ;
}

.grid-item{
    background-color:antiquewhite ;
}

.title{
grid-area: title;
}

.box-1{
    grid-area: intro;
    
}

.box-2{
    background-color: darkcyan;
    grid-area: grill;
}

.box-3{
    grid-area: meats ;
}

.box-4{
    grid-area: rub-1;
}

.box-5{
    grid-area: rub-2;
}

.box-6{
grid-area: rub-3;
}

.box-7{
grid-area: prep;
}

.box-8{
grid-area: cook;
}

.box-9{
grid-area: wrap;
}

.box-10{
grid-area: pull;
}

.box-11{
grid-area: serve;
}

.box-12{
grid-area: resources;
}

.box-13{
grid-area: site map;
}

.box-14{

}

.box-15{

}

.box-16{

}